/*-----------------------------------*\
  #SECTION NEWS
\*-----------------------------------*/

.news-section {
    
    width: 100%;
}

.news-section .section-content {
    width: 85%;
    margin: 20px auto;
}
 .section-content .title {
    width: 60%;
    text-align: center;
    margin: auto;
}

.section-content .title h2{
    font-size: 40px;
    color: var(--exDark);
    text-transform: uppercase;
}

.section-content .title p {
    font-size: 20px;
    color: var(--dark);
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-content .cards-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 25px auto;
}

.cards-news .card {
    width: 100%;
    height: auto;
    background-color: var(--white);
    position: relative;
    border-radius: 10px;
}

.cards-news .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.cards-news .card .article {
    padding: 15px 20px;
}

.cards-news .card .article  h4 {
    font-size: 1.2rem;
    font-weight: 700;
    
    color: var(--dark);
}

.cards-news .card .article h4:hover {
    color: hsl(106, 58%, 56%);
}
.cards-news .card .article a {
    text-decoration: none;
}

.cards-news .card .article a:hover {
    text-decoration: underline;
    color: hsl(106, 58%, 56%);
}
.card .article p {
    font-size: 1rem;
    margin-top: 10px 0 ;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media screen and ((min-width: 375px) and (max-width: 768px))  {

    


    .header .navbar-brand {
        display: block;
        width: 150px;
    } 
    
    .header .navbar-content a {
        font-size: 10px;
     
    }
    .section-content .cards-news {
       
        grid-template-columns: repeat(1, 1fr);
        
        
    }
    

  

    
}

@media screen and ((min-width: 769px )and (max-width: 992px)) {
    .header .navbar-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 0;
    }




}


