/*-----------------------------------*\
  #SECTION BLOG
\*-----------------------------------*/

.category-button {
    background: var(--exDark);
    color: var(--white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.category-button:hover {
    color: var(--exDark);
    background: var(--white);
    border: 1px solid var(--exDark);
}
.posts {
    margin-top: 0;
    background: #f9f9f9;
    padding: 2rem ;
    
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem auto; 
}

.post-title {
    font-family: var(--Playfair);
    font-size: 1.1rem;
    color: var(--exDark);
    display: inline-block;
    padding: 1rem;
    transition: all 0.5s ease;
}

.post-img {
    border: 0.8rem solid var(--exDark);
   
    margin-bottom: 1.6rem;
    border-radius: 2rem 0;
    overflow: hidden;
    height: fit-content;
}



.post-autor {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post_autor-avatar {
    width: 2.5rem;
    height: fit-content;
    border-radius: 50%;
    overflow: hidden;
}
