@import "index.css";
@import "contact.css";
@import "noticias.css";
@import "turismo.css";
@import "cultura.css";
@import "login.css";
@import "register.css";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --Playfair: 'Playfair Display', serif;
  --Quicksand: 'Quicksand', sans-serif;
  --Roboto: 'Roboto', sans-serif;

  --dark: #111011;
  --exDark: #485843;
  --white: #ffffff;
  --color-bg: #667c5f;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);
  --transition: all 300ms ease;

  --container-width-lg: 88%;
  --container-width-md: 74%;
  --form-width: 40%;


}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {

  font-family: var(--Roboto), sans-serif;
  line-height: 1.6;
  color: var(--dark);
  background: #eee;
  overflow-x: hidden;

}

img {
  width: 100%;
  display: block;
  object-fit: cover;

}

.container {
  width: var(--container-width-lg);
  max-width: 1800;
  margin-inline: auto;
}

section {
  width: 100%;
  margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

h4 {
  font-size: 1rem;

}

.item {
  color: var(--white);
  transition: var(--transition);
}

.item:hover {
  border-bottom: 2px solid var(--white);
}

/*-----------------------------------\
   #NAV
  \-----------------------------------*/

.header {
  background: var(--exDark);
  width: 100%;
  height: 6rem;
  position: static;
  top: 0;
  z-index: 10;
}

.nav-logo {
  border-radius: 50%;
  width: 6%;
  display: block;

}

nav button {
  display: none;
}


.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  z-index: 10;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid var(--white);
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 4rem;

}

.nav-profile {
  position: relative;
  cursor: pointer;
  width: 100%;

}

.nav-profile ul {
  background: var(--exDark);
  position: absolute;
  top: 190%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);

}

.nav-profile:hover>ul {

  visibility: visible;
  opacity: 1;
}

.nav-profile li a {
  padding: 2rem;
  background: var(--exDark);
  display: block;
  width: 100%;
  border-bottom: none;
  color: var(--white);

}


/*-----------------------------------*\
  #SECTION FOOTER
\*-----------------------------------*/
footer {
  background: var(--exDark);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.social-links a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #fff;
  color: var(--exDark);
}

.footer span {
  margin-top: 1rem;
  display: block;
  font-family: var(--Playfair);
  letter-spacing: 2px;
}





/*-----------------------------------*\
  #MEDIA QUERY
\*-----------------------------------*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);

  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--white);
    cursor: pointer;
  }

  #nav_close-btn {
    display: none;
  }

  .nav-container {
    position: relative;
  }

  .nav-logo {
    width: 12%;
  }

  .nav-items {
    background: var(--exDark);
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    display: none;
  }

  .nav-items li {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    border-top: 1px solid var(--exDark);


  }


  .nav-items li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }

  .nav-profile ul {
    top: 110%;
    width: 100%;
  }

  .nav-profile .avatar {
    margin-left: 5rem;
    border: 0;
  }

  .search-input {
    padding: 0.8rem 0;
  }

  .search-input {
    padding: 0.8rem 0;
  }

  .info-content {

    grid-template-columns: repeat(1, 1fr);

  }

  .info-item {
    margin: 0;
  }

  .blog-content {

    grid-template-columns: repeat(1, 1fr);

  }

  .about-content {
    grid-template-columns: repeat(1, 1fr);
  }


  .aside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .product {

    width: 100%;
    height: 20rem;


  }

  .product .thumbnail {
    width: 40%;
    height: auto;
    overflow: hidden;
  }

  .product h2,
  .product p,
  .product a {
    font-size: 12px;
  }

  .product p {
    font-weight: 700;
  }

  .product a {
    font-weight: 700;
    text-decoration: none;
    color: blue;
  }

  .posts {
    padding: 2rem 1rem;
  }

  .posts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin: 0;

  }

  .posts {
    padding: 2rem 1rem;
  }

  .posts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin: 0;

  }

  .cultura {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }

}

@media screen and (max-width: 600px) {

  section {
    margin-top: 2rem;
  }



  h1 {
    font-size: 1.5rem;
  }

  .cultura {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin-bottom: 4rem;
  }

  #heading {
    margin-top: 0;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--exDark);
  }

  .card {
    position: relative;
    width: 300px;
    height: 450px;
  }

  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.8s ease-in-out;
  }

  .card .front {
    transform: perspective(300px) rotateY(0deg);
    box-shadow: var(--box-shadow);
  }







}