
/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner{
    min-height: 100vh;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    background: url(../images/turismo/experiencia_gastronomica.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner h1{
    margin-top: 4rem;
    font-size: 4rem;
    color: var(--white);
    font-family: var(--Playfair);
    line-height: 1.2;
    backdrop-filter: blur(6px);
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: var(--white);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


/*-----------------------------------*\
  #SECTION CATEGORIES
\*-----------------------------------*/
.categories {
    padding: 2rem 0;
    
}

#heading {
    text-align: center;
    margin-top: 0;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--exDark);
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.row-img {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);;
}

.row-img img {
    cursor: pointer;
    width: 200%;
    display: block;
    transition: transform 0.7s;
}

.row-img img:hover {
    transform: scale(1.2);
}

.row a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
    color: var(--dark);
    cursor: pointer;
}

.row a:hover {
    color: var(--exDark);
    text-transform: uppercase;
}

/*-----------------------------------*\
  #SECTION SITES
\*-----------------------------------*/

.site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    margin-bottom: 30px;
    padding: 2rem;
}


.site-img img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    transition: 0.2s ease-in-out;

}

.site-img img:hover {
    box-shadow: 0 0.5rem 1rem var(--exDark); 
    transform: translateY(-5px);
}
.site-text h5 {
    font-size: 22px;
    font-weight: 600;
    color: var(--dark);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.site-text p {
    font-size: 15px;
    font-weight: 500;
}
.site-text a {
    font-size: 15px;
    font-weight: 500;
    color: var(--exDark);
    cursor: pointer;
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/




@media screen and ((min-width: 355px) and (max-width: 600px))  {

  
    #heading  {
        margin-top: 0;
        padding-bottom: 3rem;
        font-size: 3rem;
        color: var(--exDark);
    }

    

    .categories-container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);

    }

    .site {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 5rem;
        margin-bottom: 30px;
        padding: 2rem;
    }

    
}


    


